.sliderContainer {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

.sliderTitle {
  text-align: center;
  font-size: 1.5rem;
  color: #2dabb1;
  margin-bottom: 1rem;
  font-weight: bold;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideshowImage {
  width: 100%;
  height: 300px;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
}

.sliderContainer :global(.slick-dots) {
  bottom: 10px;
}

.sliderContainer :global(.slick-dots li button:before) {
  font-size: 12px;
  color: #2dabb1;
  opacity: 0.7;
}

.sliderContainer :global(.slick-dots li.slick-active button:before) {
  color: #e3d879;
  opacity: 1;
}

.sliderContainer :global(.slick-prev),
.sliderContainer :global(.slick-next) {
  z-index: 2;
  width: 25px;
  height: 25px;
}

.sliderContainer :global(.slick-prev:before),
.sliderContainer :global(.slick-next:before) {
  font-size: 30px;
  color: #2dabb1;
  opacity: 0.8;
  transition: color 0.3s ease, opacity 0.3s ease;
}

.sliderContainer :global(.slick-prev:hover:before),
.sliderContainer :global(.slick-next:hover:before) {
  color: #e3d879;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .slideshowImage {
    height: auto;
    max-height: 40vh;
  }
}
