.groupCard {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 2rem auto;
  gap: 2rem;
  background-color: #fff;
  border-radius: 8px;
}

.groupCard img {
<<<<<<< HEAD
  width: 450px;
  height: 400px;
=======
  width: 400px;
  height: 300px;
>>>>>>> 83cda32a53b5ff12ebfdb8f21a3541dfbc0600c6
  object-fit: cover;
  border-radius: 10px;
}

.cardText {
  flex: 1;
  max-width: 500px;
  margin: 0 auto;
}
.cardTitle {
  margin-bottom: 1rem;
}
