.groupCard {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 2rem auto;
  gap: 2rem;
  background-color: #fff;
  border-radius: 8px;
}

.infoHeader {
  display: block;
  gap: 1rem;
  text-align: center;
  margin-left: 2rem;
}

.groupCard img {
  width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.cardText {
  flex: 1;
  max-width: 500px;
  margin: 0 auto;
}
.cardTitle {
  margin-bottom: 1rem;
}

.imageSlideshow {
  flex: 0 0 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel {
  width: 400px;
}
