.communityGridContainer {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(9, minmax(1fr, auto));
    grid-gap: 10px;
    padding: 10px;
    grid-template-areas: 
    "header"
    "sccDescription"
    "sccPictures sccPictures sccPictures sccPictures"
    "sccPictures sccPictures sccPictures sccPictures"
    "sccExpanded"
    "alumni"
    "choir"
    "technicalTeam"
    "footer"
}
.communityItem {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    height: 100px;
}
.header {
    grid-area: header;
    height: auto;
}
.sccDescription {
    grid-area: sccDescription;
    height: auto;
    text-align: center;
}
.sccPictures {
    background-color: white;
    grid-area: sccPictures;
    height: auto;
    grid-column: span 4;
}
.sccExpanded {
    background-color: lightgoldenrodyellow;
    grid-area: sccExpanded;
    display: grid;
    grid-template-columns: 2fr 3fr; /* First column takes 2 parts, second takes 1 part */
    gap: 10px; 

}
.alumni {
    background-color: #D9D9D9;
    grid-area: alumni;
    height: 300px;
}
.choir {
    background-color: #D9D9D9;
    grid-area: choir;
    height: 300px;
}
.technicalTeam {
    background-color: #D9D9D9;
    grid-area: technicalTeam;
    height: 300px;
    margin-bottom: 20px;
}
.footer {
    background-color: lightsteelblue;
    grid-area: footer;
    height:auto;
}
.sccCardsWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10px;
}

.sccItem {
    border: 1px solid black;
    height: 600px;
    width: 100%;
}
.sccItem:nth-child(2) {
    display:grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}
.secondColumnItem{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    height: 100%;
    border: 1px solid black;
}
.groupPhoto{
    width: 100%;
    height: 100%;
    object-fit: cover;
}