.navbar {
  display: flex;
  gap: 10px;
}

ul > li {
  display: flex;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: space-around;
}
.nav {
  height: 100px;
  background-color: #cccccc;
  color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 16px;
}
.catcom-logo {
  width: 150px;
  height: 150px;
  margin-right: 10px;
  position: relative;
  top: -30px;
}
.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 50%;
}
.nav-list {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.nav-right-list,
.nav-left-list {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 120px; /* Automatically adjust the gap between list items */
}

ul > li:nth-child(1) {
  margin-left: 1rem;
}
