.whatIsScc {
  background-color:#dce7ea;
  padding: 2rem;  
  width: 100%;
  max-width: 1400px;
  margin: 10px auto 0 auto;
  border-radius: 40px;

}
.textContent {
  color: black;
  text-align: center;
  line-height: 1.6;
  padding: 1rem;
}
.centeredText{
  text-align: center;
}
.contentWrapper {
  border-radius: 40px;
  background-color: #fff;
  padding: 3rem 3.5rem;
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  z-index: 10;
}
