.imgContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.churchImage {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.imageLabel {
  position: absolute;
  bottom: 5px;
  left: 0px;
  background: rgba(45, 171, 177, 0.9);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  max-width: 80%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.imageLabelTitle {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  color: #fff;
}

.imageLabel a {
  color: #f8fafc;
  font-size: 0.85rem;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.imageLabel a:hover {
  color: #e3d879;
}
