.gridContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin-left: 1.5rem;
}

.card {
  padding: 1rem;
  border-radius: 8px;
  background-color: #b9c8c8;
  width: 90%;
}

/* @media (min-width: 1200px) {
  .gridContainer {   
    gap: 32px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .gridContainer {
        gap: 28px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .gridContainer {
   gap: 20px;
  }
}
@media (max-width: 767px) {
  .gridContainer {
    gap: 12px;
  }
} */
