.gridContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.card {
  padding: 1rem;
  border-radius: 8px;
  background-color: #b9c8c8;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
