/* Grid Container */
.gridContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "title"
        "about"
        "activitiesAndPhotos"
        "PatronSaint"
        "prayer"
        "footer";
    gap: 20px;
    min-height: 100vh;
    width: 100%; /* Ensure it takes full width */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Section */
.header {
    grid-area: header;
    background-color: #3498db;
    height: auto;
    width: 100%;
    box-sizing: border-box;
}

/* Title Section */
.title {
    grid-area: title;
    background-color: #f1c40f;
    padding: 2rem;
}

/* About Section */
.about {
    grid-area: about;
    background-color: #e74c3c;
    padding: 2rem;
}

/* Activities and Photos Section */
.activitiesAndPhotos {
    grid-area: activitiesAndPhotos;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "activities photos";
    background-color: #2ecc71;
    gap : 1rem;
    padding: 1rem;
}

.activities {
    grid-area: activities;
    background-color: #27ae60;
}

.photos {
    grid-area: photos;
    background-color: #16a085;
    padding: 1rem;
}

/* Patron Saint Section */
.PatronSaint {
    grid-area: PatronSaint;
    background-color: #9b59b6;
    padding: 2rem;
}

/* Prayer Section */
.prayer {
    grid-area: prayer;
    background-color: #34495e;
    padding: 2rem;
}

/* Footer Section */
.footer {
    grid-area: footer;
    background-color: #7f8c8d;
    height: auto;
}
.title,
.about,
.activitiesAndPhotos,
.PatronSaint,
.prayer
{
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    box-sizing: border-box;
     
}
@media screen and (max-width: 850px) {
    .title,
    .about,
    .activitiesAndPhotos,
    .PatronSaint,
    .prayer {
        width: 95%;
    }
    .activitiesAndPhotos {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "activities"
            "photos";
    }
}

@media screen and (max-width: 480px) {
    .gridContainer {
        gap: 10px;
    }
    .title,
    .about,
    .activitiesAndPhotos,
    .PatronSaint,
    .prayer {
        width: 100%;
        padding: 1rem;
    }
}