.card {
  background: #fff;  
  max-width: 1200px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.prayerCard {
  border-radius: 8px;
  padding: 2rem;
  text-align: center;
  margin: 0 auto;
}
/* === Small phones (up to 480px) === */
@media screen and (max-width: 480px) {
  .card{
    padding: 1rem;
    width: 80%;
  }
}

/* === Tablets (481px – 768px) === */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .card{
    padding: 1rem;
    width: 80%;
  }
}

/* === Small laptops (769px – 1024px) === */
@media screen and (min-width: 769px) and (max-width: 1024px) {
 
}

/* === Desktops (1025px – 1440px) === */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  
}

/* === Large desktops (1441px and above) === */
@media screen and (min-width: 1441px) {
  
}