.card {
  background: #fff;
  border-radius: 16px;
  padding: 1.3rem;

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.prayerCard {
  border-radius: 8px;
  padding: 2rem;
  text-align: center;
  margin: 0 auto;
}
