.gridContainer {
  display: grid;
  grid-template-rows: repeat(9, minmax(200px, 1fr));
  gap: 1rem;
  grid-template-areas:
    "header"
    "massCelebrations "
    "eventsAndActivities1"
    "eventsAndActivities2"
    "eventsAndActivities3"
    "eventsAndActivities4"
    "blogsAndBooks"
    "musicAndVideos"
    "footer";
}
.header {
  grid-area: header;
  margin-bottom: 0;
}
.repetitiveRow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  grid-template-areas:
    "contentTitle contentTitle"
    "col1 col2 ";
  width: 100%;
  height: auto;
}
.contentTitle {
  grid-area: contentTitle;
  width: 100%;
}
.col1 {
  grid-area: col1;
  background-color: aqua;
  height : 200px
}
.col2 {
  grid-area: col2;
  background-color: orange;
}

.massCelebrations {
  background-color: lightgreen;
  grid-area: massCelebrations;
}

.eventsAndActivities1 {
  background-color: lightcoral;
  grid-area: eventsAndActivities1;
}

.eventsAndActivities2 {
  background-color: lightgoldenrodyellow;
  grid-area: eventsAndActivities2;
}

.eventsAndActivities3 {
  background-color: lightpink;
  grid-area: eventsAndActivities3;
}

.eventsAndActivities4 {
  background-color: lightseagreen;
  grid-area: eventsAndActivities4;
}

.blogsAndBooks {
  background-color: lightsteelblue;
  grid-area: blogsAndBooks;
}

.musicAndVideos {
  background-color: lightcyan;
  grid-area: musicAndVideos;
}

.footer {
  background-color: lightgray;
  grid-area: footer;
}
.musicAndVideos{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  grid-template-areas:
    "contentTitle contentTitle contentTitle"
    "col1 col2 col3";
  width: 100%;
  height: auto;
}