.sccPictures {
  height: auto;
  grid-column: span 4;
}
.centeredText{
  text-align: center;
}
.sccCardsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 10px;
  flex-wrap: wrap; 
  gap: 2rem; 
  justify-content: center; 
  align-items: stretch; 
  padding: 2rem;
}
.sccCardsWrapper > * {
  flex: 0 1 calc(25% - 2rem); 
  min-width: 250px; 
  margin-bottom: 2rem; 
}