.sccPictures {
  height: auto;
  grid-column: span 4;  
  margin: auto;
  background-color: #dce7ea;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.centeredText{
  text-align: center;
}
.sccCardsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
   flex-wrap: wrap; 
  gap: 2rem; 
  justify-content: center; 
  align-items: stretch; 
  
}
.sccCardsWrapper > * {
  flex: 0 1 calc(25% - 2rem); 
  min-width: 250px; 
  margin-bottom: 2rem; 
}