.sccPictures {
  margin: auto;
  background-color: #dce7ea;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.centeredText {
  text-align: center;
}
.sccCardsWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.sccPictures {
  margin: auto;
  background-color: #dce7ea;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.centeredText {
  text-align: center;
}

.sccCardsWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

@media (max-width: 1024px) {
  .sccCardsWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .sccCardsWrapper {
    grid-template-columns: 1fr;
  }
}
