.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 8px 0;
  position: relative;
}

.title {
  color: #2dabb1;
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center;
  margin: 0;
}
