.card {
  max-width: 1200px;
  background: #fff;  
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.patronSaintWrapper {
  display: grid;
  grid-template-columns: 0.8fr 1.3fr;
  gap: 0.8rem;
  margin: 0 auto;
  height: 380px;
  align-items: stretch;
}

.patronSaintImage {
  display: flex;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding: auto;
  height: 100%;
  overflow: hidden;
}

.patronSaintImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.patronSaintText {
  border-radius: 12px;

  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  height: 92%;
}



/*new*/
/* === Small phones (up to 480px) === */
@media screen and (max-width: 480px) {
  .card {
    width: 80%;
    padding: 1rem;
  }
  .patronSaintWrapper {
    grid-template-columns: 1fr;
    height: auto; /* allow auto height on mobile */
  }

  .patronSaintImage img {
    max-height: 280px;
  }

  .patronSaintText {
    height: auto;
  }
  
}

/* === Tablets (481px – 768px) === */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .card {
    width: 80%;
    padding: 1rem;
  }
  .patronSaintWrapper {
    grid-template-columns: 1fr;
    height: auto; /* allow auto height on mobile */
  }

  .patronSaintImage img {
    max-height: 280px;
  }

  .patronSaintText {
    height: auto;
  }
  
}

/* === Small laptops (769px – 1024px) === */
@media screen and (min-width: 769px) and (max-width: 1024px) {
 
}

/* === Desktops (1025px – 1440px) === */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  
}

/* === Large desktops (1441px and above) === */
@media screen and (min-width: 1441px) {
  
}
