.grid-container {
  height: 100vh;
  display: grid;
  gap: 1rem;
  background-color: white;
  grid-template-rows: 4fr 5fr 2.5fr 1.8fr 1.5fr 0.5fr 4fr 3fr;
  grid-template-areas:
    "header"
    "slide-show"
    "what-are-we"
    "vision"
    "media-content"
    "mission"
    "weekly-program"
    "footer";
  width: 100%;
  overflow-x: hidden;
  left: 0;
  margin: 0;
  padding: 0;
}
.header {
  background-color: white;
  grid-area: header;
}
.slide-show {
  background-color: aqua;
  grid-area: slide-show;
}
.what-are-we {
  background-color: white;
  grid-area: what-are-we;
}
.vision {
  grid-area: vision;
}
.media-content {
  grid-area: media-content;
}
.mission {
  grid-area: mission;
}
.weekly-program {
  grid-area: weekly-program;
}
.footer {
  grid-area: footer;
  width: 100%;
}

.slideshow-image {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}
.content-title {
  color: #2dabb1;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
}
.text-content {
  color: black;
  font-size: 24px;
  text-align: center;
  margin: 2rem 0;
  font-family: sans-serif;
}
.content-wrapper {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
.media-image {
  height: 300px;
}
.media-wrapper {
  width: 80%;
  margin: 0 auto;
  overflow-x: scroll;
  display: flex;
  gap: 1rem;
  scroll-behavior: smooth;
}
