.infoCard {
  border-radius: 40px;
  background-color: #fff;
  padding: 3rem 3.5rem;
  margin: 3rem 0;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  color: #222;
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
  align-items: center;        
  gap: 2rem;                  
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  cursor: pointer;  
}

.infoCard:hover {
  transform: scale(1.03) translateY(-8px); 
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
=======
  align-items: center;
  gap: 2rem;
>>>>>>> 83cda32a53b5ff12ebfdb8f21a3541dfbc0600c6
}

.infoHeader {
  display: block;
  gap: 1rem;
  text-align: center;
  margin-left: 2rem;
}

.infoRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2rem;
}

.textContent {
  text-align: center;
  color: #333;
  line-height: 1.6;
}
