.infoCard {
  border-radius: 30px;
  background-color: #fff;
  padding: 3rem 3.5rem;
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.infoHeader {
  display: block;
  gap: 1rem;
  text-align: center;
  margin-left: 2rem;
}

.infoRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2rem;
}

.textContent {
  text-align: center;
  color: #333;
  line-height: 1.6;
}
