.gridContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  margin-left: 2rem;
  align-items: stretch;
  justify-content: center;
}

.card {
  width: 90%;
  background-color: #b9c8c8;
  border-radius: 8px;
}
.exec {
  width: 92%;
}
/* Tablets  */
@media screen and (max-width: 1024px) {
  .gridContainer {
    margin-left: 1rem;
    gap: 1.5rem;
  }

  .card {
    width: 95%;
  }
}

/* Phones */
@media screen and (max-width: 600px) {
  .gridContainer {
    margin-left: 0;
    padding: 0 1rem;
    gap: 1rem;
  }

  .card {
    width: 90%;
  }
}
