.gridContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 90%; 
    margin: 0 auto;
    padding: 0 1rem;
    box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 850px) {
    .title,
    .hero,
    .about,
    .activitiesAndPhotos,
    .PatronSaint,
    .prayer {
        width: 95%;
    }
    .activitiesAndPhotos {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "activities"
            "photos";
    }
}

@media screen and (max-width: 480px) {
    .gridContainer {
        gap: 10px;
    }
    .title,
    .hero
    .about,
    .activitiesAndPhotos,
    .PatronSaint,
    .prayer {
        width: 100%;
        padding: 1rem;
    }
} 
