.footer-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
  background-color:#8F5D5D;
  grid-template-columns: repeat(3, 1fr) 2fr;
  font-size: 14;
  color: white;

}
.footer{
    width: 100vw;
}

.ctm-logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.location-wrapper {
    display: flex;
    align-items: center;
    text-align: center;
}   

.first {
    margin-left: 10px;
    padding: 10px;
}