html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  max-width: 100%;
  background-color: #b9c8c8;
  background-image: url("https://www.transparenttextures.com/patterns/rough-cloth-light.png");
  font-family: "Nunito Sans", sans-serif;
}
