html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  max-width: 100%;
  background-color: #b9c8c8;
  background-image: url("https://www.transparenttextures.com/patterns/rough-cloth-light.png");
  font-family: "Nunito Sans", sans-serif;
}

:root {
  --card-bg: #b9c8c8;
  --button-bg: #2daab1b7;
  --header-bg: #cccccc;
  --background-color: #b9c8c8;
  --active-link: #2dabb1;
  --divider-bg: linear-gradient(135deg, #2dabb1, #1c6f74);
}
