.sccPictures {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin: auto;
}
.centeredText {
  text-align: center;
}
.sccCardsWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.centeredText {
  text-align: center;
}

.sccCardsWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
@media screen and (min-width: 1441px) {
  .sccCardsWrapper {
    gap: 2rem;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .sccCardsWrapper {
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .sccCardsWrapper {
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .sccCardsWrapper {
    gap: 1rem;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 480px) {
    .sccCardsWrapper {
    gap: 1rem;
    grid-template-columns: 1fr;
  }
}

