.formGrid {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin: 0 auto;
  padding: 1rem;
}

.formRow {
  margin-top: 1rem;
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}

.formCol {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
}

.checkboxGroup {
  display: flex;
  flex-direction: column;
}

.checkboxGroup > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0;
}

.checkboxGroup input[type="checkbox"] {
  accent-color: #2dabb1;
}

label,
.checkboxGroup label {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.groupLabel {
  font-weight: 400;
}

input[type="text"],
input[type="email"],
select {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 0.95rem;
}

.joinBtn {
  width: 250px;
  display: inline-block;
  text-align: center;
  margin-top: 1rem;
  padding: 0.65rem 1.5rem;
  background: #2dabb1;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background 0.2s;
}

.joinBtn:hover {
  background: #124346;
}
.warningBar {
  margin-top: 1rem;
  padding: 0.7rem;
  border-radius: 8px;
  background: #fff3cd;
  width: fit-content;
  color: #664d03;
  font-weight: 500;
}
