.sccMembersDuties{
  list-style-type: disc;
  background-color:#dce7ea;
  color: white;
  display: grid;
  grid-area: SccMemberDuties;
  gap: 1rem;  
  margin:0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  
}
.membersDutiesList{
  list-style-type: disc;
  padding-left: 2rem;
  margin: 0;
  font-size: 20px;
  color: #333;
}
.centeredText {
  text-align: center;
}