.heroSection {
  position: relative;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

.heroBackground {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.heroOverlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.6)
  );
}

.heroContent {
  position: relative;
  z-index: 10;
  text-align: center;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.heroHeading {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.heroTitle {
  width: 100%;
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 1rem;
  font-weight: bolder;
}

.heroDivider {
  width: 100px;
  height: 4px;
  background: linear-gradient(90deg, #2dabb1ff, #2dabb1ff, #ff1994ac);
  margin: 0 auto 1.5rem;
  border-radius: 999px;
}

.heroSubtitle {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.9);
  font-weight: bolder;
  margin-bottom: 1.2rem;
}

.heroDescription {
  font-size: 1.125rem;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 2.5rem;
  font-weight: bolder;
}

.heroBtns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.btn {
  font-size: 1.125rem;
  padding: 1rem 2rem;
  border-radius: 8px;
  margin-bottom: 0.5rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #fff;
  background: #2daab1b7;
}

.btn:hover {
  background: #2daab189;
}

.btnDivine {
  background-color: transparent;
  color: #ffffff;
}

.scroll-indicator {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  animation: float 3s ease-in-out infinite;
}

.scroll-icon {
  width: 2rem;
  height: 2rem;
  color: rgba(255, 255, 255, 0.6);
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {
  0%,
  100% {
    transform: translate(-50%, 0);
  }

  50% {
    transform: translate(-50%, -10px);
  }
}

@media (min-width: 640px) {
  .hero-title {
    font-size: 3.5rem;
  }
}

@media (min-width: 1024px) {
  .hero-title {
    font-size: 4.5rem;
  }
}
@media (min-width: 640px) {
  .hero-buttons {
    flex-direction: row;
  }
}
