.churchIcon {
  height: 2rem;
}
.joinConatiner {
  display: grid;
  grid-template-areas:
    "header"
    "introHeader"
    "scc"
    "sccMembership"
    "joinForm";
}

.header {
  grid-area: header;
}

.introHeader {
  grid-area: introHeader;
}

.scc {
  grid-area: scc;
  background-color: rgb(6, 6, 104);
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.sccMembership {
  grid-area: sccMembership;
  background-color: green;
  width: 92%;
  height: auto;
  margin: 2rem;
  display: grid;
  grid-template-areas:
    "membership"
    "masses";
  padding: 2rem;
}

.joinForm {
  grid-area: joinForm;
  background-color: brown;
  height: 20rem;
}
