.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(270px, 100%), 1fr));
  gap: 25px;
  padding: 4px 2px;
  align-items: stretch;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 4px 5px;
  }
}
