*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --heading-color: #1A237E;
    --primary-font-family: inter, sans-serif;
}

.hero{
    margin: 5vh auto;
}

/* Heritage */
.heritage {
    background-color: #D9D9D9;
    width: 90%;
    margin: 3vh auto;
    padding: 4vh;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
}
.heritage>h2 {
    margin-bottom: 1vh;
    font-family: var(--primary-font-family);
    text-align: center;
    font-size: 2rem;
    color: var(--heading-color);
}
.heritage>p{
    margin: auto;
    font-family: var(--primary-font-family);
    width: 80%;
    line-height: 1.5;
    text-align: center;
    font-weight: 500;
}


/* Vision and Mission */
.visionMission{
    width: 80%;
    margin: 8vh auto;
    display: flex;
}

.vision, .mission {
    width: 50%;
    padding: 6vh;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.137);
}

.vision h2, .mission h2 {
    font-family: inter, sans-serif;
    color: var(--heading-color);
    font-size: 1.5rem;
    text-align: center;
}

.vision p, .mission p {
    font-family: var(--primary-font-family);
    text-align: center;
    line-height: 1.5;
    font-weight: 500;
}


/* Communities */
.communities {
    width: 100%;
    margin: 8vh auto;
    padding: 10vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 2vh;
    background-color: #D9D9D9;
}
.communities>h2{
    width: 100%;
    text-align: center;
    font-family: var(--primary-font-family);
    color: var(--heading-color);
    font-size: 2rem;
    margin-bottom: 2vh;
}
.community {
    width: 30%;
    margin-bottom: 2vh;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.137);
    border-radius: 10px;
    background-color: #d1d1d1;
}

.community>h3, .community>p{
    font-family: var(--primary-font-family);
}

.community>p{
    opacity: 0.9;
    font-size: 0.9rem;
    line-height: 1.2;
}

.community>button {
    width: 100%;
    margin-top: 2vh;
    padding: 0.5rem;
    background-color: #8F5D5D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--primary-font-family);
}

.leaders{
    position: relative;
    width: 90%;
    margin: 8vh auto;
    padding-top: 6vh;
    display: flex;
    flex-flow: row wrap;
    gap: 2%;
}
.leaders>h2{
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    font-family: var(--primary-font-family);
    color: var(--heading-color);
    font-size: 1.5rem;
    margin-bottom: 2vh;
}

.leader {
    width: 32%;
    margin-bottom: 2vh;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.137);
    border-radius: 10px;
    background-color: #d1d1d1;
}

.leader>h3, .leader>p {
    font-family: var(--primary-font-family);
    text-align: center;
}

.leader img {
    width: 200px;
    height: 200px;
    margin-bottom: 2vh;
    border-radius: 50%;
    object-fit: cover;
}
